.root {
  -fx-background-color: linear-gradient(
    from 0% 0% to 100% 100%,
    #87ceeb 0%,
    #2b818d 100%
  );
}

.grid-container {
  -fx-padding: 10;
}

.number-button {
  -fx-font-size: 24;
  -fx-background-color: #76b7f9; /* Light gray */
  -fx-text-fill: black;
  -fx-padding: 0;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
}
.number-button:pressed {
  -fx-background-color: #0a399c85;
}
.special-button {
  -fx-background-color: #000000;
  /* -fx-text-fill: #d0d0d0; */
}
.button-wrong {
  -fx-background-color: red;
  -fx-text-fill: white;
}
