.grid-container {
  -fx-padding: 10;
}

.number-button {
  -fx-font-size: 24;
  -fx-background-color: #d0d0d0; /* Light gray */
  -fx-text-fill: black;
  -fx-padding: 0;
  -fx-border-color: #000000;
  -fx-border-width: 2px;
}
.number-button:pressed {
  -fx-background-color: #d0d0d085;
}
.special-button {
  -fx-background-color: #000000;
  /* -fx-text-fill: #d0d0d0; */
}
.button-wrong {
  -fx-background-color: red;
  -fx-text-fill: white;
}
